div.page-test-form(class='container' ng-switch='TestForm.postStatus')
	span.success-message(ng-switch-when='created')
		| Ваш тест был успешно создан
	div(class='row text-center' ng-switch-when='creating')
		h1.header Создайте тест
		form.form(
			name='testForm'
			class='col-xs-offset-2 col-xs-8'
		)
			ul.main
				li(class='col-xs-6')
					input(
						type='text'
						class='form-control'
						ng-model='TestForm.test.subject'
						placeholder='Введите название предмета:'
					)
				li(class='col-xs-6')
					input(
						type='text'
						class='form-control'
						ng-model='TestForm.test.title'
						placeholder='Введите тему:'
					)
			ul.questions
				li.question
					input(
						type='text'
						class='form-control'
						ng-model='TestForm.test.questions[0].title'
						placeholder='Введите первый вопрос:'
					)
					ul
						li.answer
							input.radio(
								type='radio'
								value='1'
								ng-model='TestForm.test.questions[0].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[0].answers.answer_one'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='2'
								ng-model='TestForm.test.questions[0].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[0].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='3'
								ng-model='TestForm.test.questions[0].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[0].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='4'
								ng-model='TestForm.test.questions[0].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[0].answers.answer_fourth'
								placeholder='Введите четвертый ответ:'
							)
				li.question
					input(
						type='text'
						class='form-control'
						ng-model='TestForm.test.questions[1].title'
						placeholder='Введите второй вопрос:'
					)
					ul
						li.answer
							input.radio(
								type='radio'
								value='1'
								ng-model='TestForm.test.questions[1].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[1].answers.answer_one'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='2'
								ng-model='TestForm.test.questions[1].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[1].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='3'
								ng-model='TestForm.test.questions[1].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[1].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='4'
								ng-model='TestForm.test.questions[1].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[1].answers.answer_fourth'
								placeholder='Введите четвертый ответ:'
							)
							
				li.question
					input(
						type='text'
						class='form-control'
						ng-model='TestForm.test.questions[2].title'
						placeholder='Введите третий вопрос:'
					)
					ul
						li.answer
							input.radio(
								type='radio'
								value='1'
								ng-model='TestForm.test.questions[2].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[2].answers.answer_first'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='2'
								ng-model='TestForm.test.questions[2].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[2].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='3'
								ng-model='TestForm.test.questions[2].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[2].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='4'
								ng-model='TestForm.test.questions[2].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[2].answers.answer_fourth'
								placeholder='Введите четвертый ответ:'
							)

				li.question
					input(
						type='text'
						class='form-control'
						ng-model='TestForm.test.questions[3].title'
						placeholder='Введите четвертый вопрос:'
					)
					ul
						li.answer
							input.radio(
								type='radio'
								value='1'
								ng-model='TestForm.test.questions[3].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[3].answers.answer_first'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='2'
								ng-model='TestForm.test.questions[3].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[3].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='3'
								ng-model='TestForm.test.questions[3].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[3].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
						li.answer
							input.radio(
								type='radio'
								value='4'
								ng-model='TestForm.test.questions[3].correct_answer'
							)
							input(
								type='text'
								class='form-control'
								ng-model='TestForm.test.questions[3].answers.answer_fourth'
								placeholder='Введите четвертый ответ:'
							)
			button(
				type='submit'
				class="btn btn-default btn-success col-xs-12 "
				ng-click='TestForm.createTestForm()'
			).form_button
				| Опубликовать тест
