div(class='containter text-center')
	{{Test.test.questions[0]}}
	div(class='row text-center')
		form.page-content.form(
			name='test'
		)
			ul.questions(class='col-xs-8')
				li.question
					input(
						type='text'
						class='form-control'
						ng-model='Test.test.questions[0].title'
						placeholder='Введите первый вопрос:'
					)
					ul Введите варианты ответа:
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[0].answers.answer_one'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[0].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[0].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[0].answers.answer_fourth'
								placeholder='Введите четвертый ответ:'
							)
				li.question
					input(
						type='text'
						class='form-control'
						ng-model='Test.test.questions[1].title'
						placeholder='Введите первый вопрос:'
					)
					ul Введите варианты ответа:
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[1].answers.answer_one'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[1].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[1].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[1].answers.answer_fourth'
								placeholder='Введите четвертый ответ:'
							)
							
				li.question
					input(
						type='text'
						ng-model='Test.test.questions[2].title'
						placeholder='Введите первый вопрос:'
					)
					ul Введите варианты ответа:
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[2].answers.answer_first'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[2].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[2].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[2].answers.answer_fourth'
								placeholder='Введите четвертый ответ:'
							)

				li.question
					input(
						type='text'
						class='form-control'
						ng-model='Test.test.questions[3].title'
						placeholder='Введите первый вопрос:'
					)
					ul Введите варианты ответа:
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[3].answers.answer_first'
								placeholder='Введите первый ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[3].answers.answer_second'
								placeholder='Введите второй ответ:'
							)
						li.answer
							input(
								type='text'
								class='form-control'
								ng-model='Test.test.questions[3].answers.answer_third'
								placeholder='Введите третий ответ:'
							)
					li.answer
						input(
							type='text'
							class='form-control'
							ng-model='Test.test.questions[3].answers.answer_fourth'
							placeholder='Введите четвертый ответ:'
						)
	button(
		type='submit'
		class="btn btn-default btn-success col-xs-8"
		ng-click='Test.publishTest()'
	).form_button
		| Опубликовать тест
